#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  margin: 0 !important;
  -webkit-font-smoothing: antialiased !important;
  padding: 0;
  background-color: black !important;
}

.header {
  width: 100%;
  height: 70px;
  background-color: black;
  position: relative;
}

.header img {
  width: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.drop-down-wrapper {
  color: white;
  white-space: nowrap;
  width: 160px;
  position: relative;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.date {
  color: white;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

#ct {
  color: white;
}

.main {
  height: 100vh;
}

.map-container {
  margin: auto auto;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mapid {
  height: 600px;
  width: 100%;
  margin: 50px 0px;
}

.widgets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.widget-layout {
  width: 30%;
  height: 300px;
  background-color: #d1d1d1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.widget-layout img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
}

.weather {
  margin-right: 25px;
  position: relative;
}

.covid {
  position: relative;
}

.news {
  margin-left: 25px;
  position: relative;
}

/* MEDIA QUERIES */
