body {
  margin: 0 !important;
  -webkit-font-smoothing: antialiased !important;
  padding: 0;
  background-color: black !important;
}

.header {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  align-items: center;
  margin-top: 30px;
  z-index: 750;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.header .logo {
  width: 120px;
}

.drop-down-wrapper {
  width: 130px;
  margin-top: 7px;
  border-radius: 12px;
  display: inline-block;
  overflow: hidden;
  background: #cccccc;
  border: 1px solid #cccccc;
}

#selectCountry {
  width: 130px;
  height: 30px;
  border: 0px;
  outline: none;
  font-size: 14px;
}

.flag {
  width: 40px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.map-wrapper {
  width: 100%;
  position: relative;
}

.button-wrapper {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 750;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-wrapper img {
  width: 40px;
  margin: 10px 10px;
}

.button-wrapper img:hover {
  opacity: 0.3;
}

.font-style {
  z-index: 750;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  width: 90%;
  height: 70%;
}

.font-style #close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  z-index: 800;
  pointer-events: auto;
}

.font-style .span {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 85%;
  overflow: auto;
}

.info-text {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-text span {
  font-weight: 600;
}

.table {
  height: 100%;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

.table th {
  font-size: 22px;
}

#covid-graph {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flag2 {
  width: 40px;
}

#icon {
  width: 20px;
}

#mapid {
  width: 100vw;
  height: 100vh;
}

.image-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  overflow: hidden;
  justify-content: space-between;
}

#image0,
#image1,
#image2,
#image3,
#image4,
#image5 {
  border-radius: 20px;
  width: 150px !important;
  height: 90%;
  margin: 5px;
  background-repeat: no-repeat;
  background-size: 120%;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .header {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    align-items: center;
    margin-top: 25px;
    z-index: 750;
  }

  .header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
  }

  .drop-down-wrapper {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translate(-50%, -50%);
    width: 130px;
    margin-top: 0px;
    border-radius: 12px;
    display: inline-block;
    overflow: hidden;
    background: #c0c0c0;
    border: 1px solid #cccccc;
  }

  #selectCountry {
    width: 130px;
    height: 30px;
    border: 0px;
    outline: none;
    font-size: 14px;
  }

  .flag {
    width: 40px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    visibility: visible;
  }

  .map-wrapper {
    width: 100%;
    position: relative;
  }

  .button-wrapper {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 750;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .button-wrapper img {
    width: 40px;
    margin: 10px 10px;
  }

  .button-wrapper img:hover {
    opacity: 0.3;
  }

  .font-style {
    z-index: 750;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
      0 5px 15px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    width: 38%;
    height: 60%;
    pointer-events: none;
  }

  .font-style #close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    z-index: 800;
    pointer-events: auto;
  }

  .font-style .span {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    max-width: 80%;
    max-height: 100%;
  }

  .info-text {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info-text span {
    font-weight: 600;
  }

  .table {
    height: 100%;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
  }

  #covid-graph {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #flag2 {
    width: 40px;
  }

  #mapid {
    width: 100vw;
    height: 100vh;
  }
}
