#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: rgb(0, 0, 0);
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  margin: 0 !important;
  -webkit-font-smoothing: antialiased !important;
  padding: 0;
  background-color: black !important;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 90%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.header img {
  width: 160px;
  margin: 10px 0px;
}

.drop-down-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  white-space: nowrap;
  width: 230px;
  margin: 10px 0px;
}

.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin: 10px 0px;
}

#ct {
  color: white;
}

.map-wrapper {
  position: relative;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.map-container {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

#mapid {
  width: 100%;
  height: 660px;
}

.widgets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #797979;
  border-radius: 35px;
}

.widget-layout {
  height: 200px;
  background-color: #d1d1d1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.widget-layout img,
.news img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
}

#flag {
  position: absolute;
  right: 60px;
  width: 40px;
}

.widget-layout h4,
.widget-layout p,
.news h4,
.news p {
  margin: 2.5px 25px;
}

.widget-layout h4,
.news h4 {
  font-size: 22px;
}

.widget-layout p,
.news p {
  font-size: 14px;
}

.widget-layout span,
.news span {
  font-weight: 700;
}

.country {
  position: relative;
  margin: 15px 15px;
}

.currency {
  position: relative;
  margin: 0px 15px;
}

.covid {
  position: relative;
  margin: 15px 15px;
}

.news {
  position: relative;
  width: 90%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
  background-color: #797979;
  border-radius: 35px;
}

.article {
  position: relative;
  height: 50%;
  background-color: #d1d1d1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 15px 15px 7.5px 15px;
}

.graph-wrapper {
  width: 90%;
  height: 85%;
}

.graph {
  position: relative;
  height: 50%;
  background-color: #d1d1d1;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 7.5px 15px 15px 15px;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .header {
    width: 90%;
    height: 70px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
  }

  .drop-down-wrapper {
    width: 220px;
  }

  .map-wrapper {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .widgets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 20px;
    background-color: #797979;
    border-radius: 35px;
  }

  .map-container {
    width: 200% !important;
    height: 100%;
    margin-bottom: 0px !important;
  }

  #mapid {
    width: 100%;
    height: 660px;
  }

  .news {
    flex-direction: row !important;
    width: 90%;
    height: 100%;
  }

  .article {
    margin: 15px 7.5px 15px 15px;
    height: 400px;
  }

  .graph {
    width: 70%;
    margin: 15px 15px 15px 7.5px;
    height: 400px;
  }

}
